page-about {
    .ratingContent{
        background: rgba(0, 0, 0, 0.2);
        // .ratingBody{
        //     background: #fff;
        //     padding: 20px;
        //     text-align: center;
        //     border-radius:  8px;
        //     width: 280px;
        //     margin: 0px auto;
        //     position: relative;
        //     h4{
        //         color: #0beb43;
        //     }
            
           
        // }
    }
    .mainDiv{
        text-align: center;
        margin-top: 40vh;
        .childDiv{
            background: #fff;
            h4{
                color: #0beb43;
            }
        }
    }
}
