
    page-login {
        [text-color="my-custom-color"] {
            color: rgb(129, 9, 99);
        }

       ion-content{
    // background-image: url('../assets/imgs/splash.png');
    background-color: rgb(102, 238, 11) !important
   
}

.loginFooter{
    color: rgb(72, 3, 233);
    font-size:14px !important;
}
}
