<ion-header class="ion-nav">
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Click here to Scan</h1>
  <button ion-button (click)="startScanning()">Scan</button>
  <ion-list inset>
    <ion-item-sliding *ngFor='let device of devices' #slidingItem>
      <button ion-item (click)='connectToDevice(device)' style="border:1px solid '#000'">
        <h2>Name: KM-Tag</h2>
        <p>Mac Address: {{device.id}}</p>
        <p>rssi: {{device.rssi}}</p>
      </button>
    </ion-item-sliding>
  </ion-list>
  <ion-spinner *ngIf='isScanning==true' name='circles'></ion-spinner>
</ion-content>



