page-home {
    
    .ion-nav{
        background: #F00
    }
    .logout{
        color: #fff;
        font-size:17px !important;
    }
    ion-content{
        background-image: url('../../assets/imgs/back.jpg');
        height: 100%;
        background-size: 100%;
        z-index: 1;
    }
    h1{
        color: #fff;
    }
    .card-md {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #eaeaea;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .button-md{
        background-color: #0029ff ; 
        opacity: 6 !important;
    }
    .card-header-md {
        font-size: 2.6rem;
        color: #000;
        padding: 16px;
    }
    .card-md p {
        margin: 0 0 2px;
        font-size: 1.9rem;
        font-weight: normal;
        line-height: 1.5;
        color: #f7fd0d;
    }
   
  
    .button-md-danger {
        color: #fff;
        background-color: #f53d3d;
    }
  
}
