page-home {
    [text-color="my-custom-color"] {
        color: rgb(129, 9, 99);
    }
    .ion-nav{
        background: #F00
    }
    .logout{
        color: rgb(72, 3, 233);
        font-size:17px !important;
    }
}
